<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs  -->

<mat-toolbar color="primary">
    <span fxLayout="row" fxFlex="20" fxLayoutAlign="start">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </span>

    <span fxLayout="row" fxFlex="200" fxLayoutAlign="center">
        <font color="#cccccc"> 教会敬拜 ~ <b><i>"静音"</i></b>并<b><i>"远离微信"</i></b></font>
    </span>
        
    <span fxLayout="row" fxFlex="200" fxLayoutAlign="end">
        <a routerLink="login"><img src="assets/image/wservant.png" width="160"/></a>
    </span>
</mat-toolbar>
